{% load static %}
<!doctype html>
<html>
<head>
<title>MENU</title>
</head>
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
<body><p>Whether menu items present or not in the subcategories<font color = #000080>[{'Non Alcoholic Beverages': 'PRESENT', 'Combos': 'PRESENT', 'Salads': 'PRESENT', 'Burgers & More': 'PRESENT', 'Pasta': 'PRESENT', 'Pizza': 'PRESENT', 'Seafood': 'PRESENT', 'Steaks': 'PRESENT', 'À la carte Sides': 'PRESENT', 'Oxford Classics': 'PRESENT', 'Oxford: Burgers & More': 'PRESENT', 'Whiskey/Bourbon': 'ABSENT'}]</font></p></body>
</html>