{% load static %}
<!doctype html>
<html>
<head>
<title>
MENU</title>
</head>
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
<body><p>The subcategories in the categories are: <font color = #FF00FF>[{'Appetizers': 'No subcategories present', 'Beverages': ['Non Alcoholic Beverages'], 'Salads & Soups': 'No subcategories present', 'Entrees': ['Combos', 'Salads', 'Burgers & More', 'Pasta', 'Pizza', 'Seafood', 'Steaks', 'À la carte Sides'], 'Desserts': 'No subcategories present', 'Kids': 'No subcategories present', 'Oxford Menu': ['Oxford Classics', 'Oxford: Burgers & More'], 'DRINKS': ['Whiskey/Bourbon'], 'FOOD': 'No subcategories present', 'PIZZA': 'No subcategories present', 'Catering': 'No subcategories present', 'FISH': 'No subcategories present'}]</font></p></body>
</html>