{% load static %}
<!doctype html>
<html>
<head>
<title>MENU</title>
</head><link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
<body><p>Whether menuitems present or not in the categories<font color = #0000FF>[{'Appetizers': 'PRESENT', 'Beverages': 'ABSENT', 'Salads & Soups': 'PRESENT', 'Entrees': 'ABSENT', 'Desserts': 'PRESENT', 'Kids': 'PRESENT', 'Oxford Menu': 'ABSENT', 'DRINKS': 'ABSENT', 'FOOD': 'PRESENT', 'PIZZA': 'ABSENT', 'Catering': 'ABSENT', 'FISH': 'PRESENT'}]</font></p></body>
</html>