{% load static %}
<!doctype html>
<html>
<head>
<title>MENU</title>
</head>
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"/>
<body><p>Whether subcategories present in the categories or not: <font color = #00FFFF>[{'Appetizers': 'ABSENT', 'Beverages': 'PRESENT', 'Salads & Soups': 'ABSENT', 'Entrees': 'PRESENT', 'Desserts': 'ABSENT', 'Kids': 'ABSENT', 'Oxford Menu': 'PRESENT', 'DRINKS': 'PRESENT', 'FOOD': 'ABSENT', 'PIZZA': 'ABSENT', 'Catering': 'ABSENT', 'FISH': 'ABSENT'}]</font></p></body>
</html>